body {
    background-color: rgb(253, 251, 251);
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    line-height: 35px;
    background-image: ;
}

#title {
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3%;
}

#color-palette {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-sizing: border-box;
    border: 1px;
    width: 1000px;
    height: 100px;
}

#cor1 {
    background-color: black;
    margin-left: 38%;
    margin-top: 3%;
    box-sizing: border-box;
    border: 1px solid;
    width: 40px;
    height: 40px;
    float: left;

}

#cor2 {
    background-color: salmon;
    margin-left: 3%;
    margin-top: 3%;
    box-sizing: border-box;
    border: 1px solid;
    width: 40px;
    height: 40px;
    float: left;
}
#cor3 {
    background-color: slateblue;
    margin-left: 3%;
    margin-top: 3%;
    box-sizing: border-box;
    border: 1px solid;
    width: 40px;
    height: 40px;
    float: left;
}

#cor4 {
    background-color: lightseagreen;
    margin-left: 3%;
    margin-top: 3%;
    box-sizing: border-box;
    border: 1px solid;
    width: 40px;
    height: 40px;
    float: left;
}
#clear-board {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0%;
}

#pixel-board {
    display: table-row;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    float:left;
    margin-left: 43%;
    margin-top: 1%;
}

.pixel {
    display: table-cell;
    background-color: white;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid black;
}
